#i1 {
    font-family: "Helvetica",  sans-serif;
    margin: 0;
    padding: 0;
	background: url("AK1.jpg")
	 no-repeat;
    background-size: cover;
	background-attachment: fixed;
  }
 #c1 {
	font-family: "Helvetica",  sans-serif;
    margin: 0;
    padding: 0;
 }
 #a1 {
	font-family: "Helvetica",  sans-serif;
    margin: 0;
    padding: 0;
 }
#s1  article header p {
	  color: red;
  }
 #s1 article p{
	 color:yellow;
 }
  
  nav {
    background: #234465;
	position: fixed;
    top: 0;
    width: 100%;
	
  }
  nav ul {
    text-align: center;
    margin: 0;
    padding: 10px;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
  }
  section {
      width: 60%;
      margin: 80px auto;
  }
  section h1{
      text-align: center;
      font-size: 42px;
  }
  
  header p {
      font-style: italic;
  }
  footer {
    background: #234465;
    text-align: center;
    color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  article {
	margin-left: 600px; 
  }
#s1 article {
	margin-left: 600px; 
  }
 article p {
	  color: green;
  }
  article header p {
	  color: red;
  }
  main {
	margin-bottom: 30px;  
  }
