#i1 {
    font-family: "Helvetica",  sans-serif;
    margin: 0;
    padding: 0;
    background: url("AK1.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
 #c1 {
	font-family: "Helvetica",  sans-serif;
        margin: 0;
        padding: 0;
	 background: url("anat_1.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
 }
 #a1 {
	font-family: "Helvetica",  sans-serif;
        margin: 0;
        padding: 0;
	 background: url("DSC04409.JPG") no-repeat;
	 background-size: cover;
	background-attachment: fixed;
 }
#b1 {
	font-family: "Helvetica",  sans-serif;
        margin: 0;
        padding: 0;
	background-size: cover;
	background-attachment: fixed;
 }
 #p1 {
	font-family: "Helvetica",  sans-serif;
        margin: 0;
        padding: 0;
	background: url("DSC04408.JPG") no-repeat;
	background-size: cover;
	background-attachment: fixed;
 }
#s1  article header p {
	  color: red;
  }
 #s1 article p{
	 color:yellow;
 }
  
  nav {
    background: #e6e6e6;
	position: fixed;
    top: 0;
    width: 100%;
	
  }
  nav ul {
    text-align: center;
    margin: 0;
    padding: 10px;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin: 5px 10px 5px 10px;
  }
  section {
      width: 60%;
      margin: 80px auto;
  }
  section h1{
      text-align: center;
      font-size: 42px;
  }
  
  header p {
      font-style: italic;
  }
  footer {
    background: #000000;
    text-align: center;
    color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  article {
	margin-left: 500px; 
  }
 article p {
	  color: green;
  }
  article header p {
	  color: white;
  }
  main {
	margin-bottom: 30px;  
  }
 .leftcolumn {
  float: left;
  width: 73%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 90%;
  padding: 20px;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
.blog {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header2 {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
.button3 {
  background-color: #ffffff; 
  color: #000000; 
  border: 2px solid #4CAF50;
}

.button3:hover {
  background-color: #bfbfbf;
  color: #000000;
}
#blog1 {
	  width: 550px;
  display: inline-block;
  }
#blog1 li {
	display: inline-block;  
  }
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.sidebar a:hover {
	color: #f1f1f1;
}
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border; none;
}
.opnebtn:hover {
	background-color: #444;
}
#main {
	transition: margin-left .5s;
	padding: 0 0 0 0;

}
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}
#l1 {
	float: left;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	top: 0;
}
